{% extends 'core/base.html' %}

{% block head_title %}Ahorros{% endblock %}



{% block content %}
    <h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10"> Ahorrante </h1>
    <hr />
<center>
   <a href="{% url 'ahorros:nuevo' %}" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-red mr-4">
                    <b>Nuevo</b>
   </a>
    <a href="{% url 'ahorros:index' %}" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-red mr-4">
                    <b>Existente</b>
   </a>
 </center>
{% endblock %}


